
#navcontainer{
    list-style-type: none;
}

#navcontainer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navcontainer ul li{
    display: inline;
    text-decoration: none;
    padding: .2em 1em;
}

#navcontainer ul li a:hover
{
    color: #fff;
    background-color: #369;
}

.unselectedRepo{

}

html body {
    background: #ffffff;
}

#profile{
    color: #e5e5e5
}

#user-chart {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    /*height: 800px;*/
    background-color: #fff;
}

#commit-chart {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    /*height: 800px;*/
    background-color: #fff;
}

#charts-container{
    display: flex;
    justify-content: center;
    align-items: center;
}